<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        input[type=email], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input.action {
            width: 100%;
            background-color: black;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration-style: solid;
        }

        input[type=checkbox] {
            width: 30px;
        }

        input.action:hover {
            background-color: #ff9900;
        }

        section.form {
            margin-top: 10%;
            margin-left: 28%;
            margin-right: 28%;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>


<head>
    <title>Presenze LUG Sapienza</title>
</head>

<body align="center" style="background-color: lightgray">

<section class="form">
    <form action="#" th:action="@{/confirm}" th:object="${form}" method="post">
        <h1>Registrazione presenze <b style="color: #ff9900;">L</b>UG <b style="color: #822433;">Sapienza</b></h1>
        <h2>Corso di <a th:text="${@environment.getProperty('corso')}">${@environment.getProperty('name')}</a></h2>
        <h4>Passo 1/2</h4>
        <div style="margin-left: 5%;margin-right: 5%;border: 0.4px solid #ccc;"></div>
        <h3>Indirizzo e-mail (utilizzato nel modulo di registrazione al corso):</h3>
        <input type="email" th:field="*{email}" name="eaddr" size="40" maxlength="100" required><br>
        <input class="action" type="submit" value="INVIA">
        <input class="action" type="reset" value="Reset">
    </form>
</section>

</body>
</html>
